<!DOCTYPE html> 
<html> 
  <head>     
    <title>Forever Alone</title> 
	<meta charset="utf-8" /> 
	<meta name="keywords" value="forever, alone, meme" />
	<link rel="stylesheet" href="style.css" />
	<script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
  </head> 
  <body>
	<h1>I'm so alone!</h1>
	<img src="/meme.jpg" alt="Forever Alone" />
	<p class="social">
		<span class="facebook">
			<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fforever-alone-meme.heroku.com%2F&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:90px;" allowTransparency="true"></iframe>
		</span>
		<a class="twitter-share-button" 
           href="http://twitter.com/share" 
           data-count="vertical" 
           data-text="Are you alone too?"
           data-via="4ForeverAlone" 
           data-related="4ForeverAlone">Tweet</a> 
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 
		<g:plusone size="tall"></g:plusone>
	</p>
	<a href="http://twitter.com/4ForeverAlone" class="twitter-follow-button">Follow @4ForeverAlone</a>
	<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-22321935-5']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </body> 
</html>